form {
  background-color: lightgrey;
  width: 300px;
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
   padding: 25px 25px 25px 25px;
}
label{
  color: dodgerblue ;
  margin-left: auto;
  margin-right: auto;
}
button{
  background-color: blue;
  color: white;
}
input{
  border-radius: 5px;
}
