{% extends 'base.html' %}

{% block content %}
<head>
  <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet"/>
</head> 
<h2 style="text-align: center; color: darkblue; text-decoration: underline;">Register</h2> 
  <form method="post">
    <label for="username">Username</label><br>
    <input name="username" id="username" required><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required><br>
    <p>
    <button type="submit" class="btn btn-primary">Register</button>
    </p>
  </form><br><br><br><br><br><br>  
<p style="text-align: center;">Already registered? <a href="{{ url_for('edit.login') }}">Log in here</a></p>  
{% endblock %}
